APP_NAME=WNS Challenge
DEBUG=false
LOG_LEVEL=INFO
DATABASE_URL=sqlite:///./data/app.db
EXCEL_PRICES_PATH=inputs/Carnes y Pescados.xlsx
PDF_PRICES_PATH=inputs/verduleria.pdf
RECIPES_PATH=inputs/Recetas.md
CURRENCY_API_URL=https://cdn.jsdelivr.net/npm/@fawazahmed0/currency-api@{date}/v1/currencies/usd.json
CURRENCY_API_FALLBACK_URL=https://{date}.currency-api.pages.dev/v1/currencies/usd.json
CURRENCY_API_TIMEOUT_SECONDS=5
